#loader{
	background: #fff;
	@include opacity(0.75);
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
	display : none;

	img{
		padding-top: 450px;
		width: 100px;
	}
}
.nav-tabs li{
	cursor:pointer;
}

.content-wrapper{
	margin:25px;
}

#content-window{
	padding:25px;
	margin:25px;
}