@import 'toolbox';

$border-radus : 5px;

#loader{
	background: #fff;
	z-index:9999;
	text-align: center;
	display : none;

	@include opacity(0.75);
	@include absolute-fill();

	img{
		padding-top: 450px;
		width: 100px;
	}
}
.nav-tabs li{
	border:solid 1px $border-radus;
	cursor:pointer; 
}

.content-wrapper{
	margin:25px;
}

#content-window{
	padding:25px;
	margin:25px;
}